{% extends 'checklist/base.html' %}
{% load static %}

{% block content_header %} {{ inspection_detail.branch_store}} inspection {% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">



          <!-- Main content -->
          <div class="invoice p-3 mb-3">


            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Sanitary, Inc.
                  <small class="float-right">{{inspection_detail.responses.all.0.created}}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>

            <!-- Inpection UUID row-->
            <div class="row mb-3 mt-3">
              <div class="col-sm-8">
                <b>Inspection ID:</b> {{inspection_detail.responses.all.0.inspection_uuid}}
              </div>  
              <div class="col-sm-4">
                <b>Classification:</b> <span class="badge badge-danger">{{inspection_detail.classification}}</span>
                <br>
              </div>
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-6 invoice-col">
                From
                <address>
                  <strong>Admin, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  Phone: (804) 123-5432<br>
                  Email: info@almasaeedstudio.com
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 invoice-col">
                To
                <address>
                  <strong>{{inspection_detail.branch_store.title}}</strong><br>
                  {{inspection_detail.branch_store.address}} {{inspection_detail.branch_store.address_number}}, {{inspection_detail.branch_store.zip_code}}<br>
                  {{inspection_detail.branch_store.state}}, {{inspection_detail.branch_store.region}}<br>
                  Phone: (+30) 2105152778<br>
                  Email: {{inspection_detail.branch_store.email}}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 invoice-col">
              
                
                <br>
                <b>Inspector 1:</b> Petropoulos Panagiotis<br>
                <b>Inspector 2:</b> Kyriakaki Sofia<br>
                <b>Owner:</b> {{inspection_detail.branch_store.business.owner.get_full_name}}<br>
                <b>Health Regulator:</b> {{inspection_detail.branch_store.health_regulator.get_full_name}}<br>
                <br>
              </div>
              <!-- /.col -->

              <div class="col-sm-6 invoice-col">
              
                
                <br>
                <b>Notify Number:</b> {{inspection_detail.branch_store.notify_number}}<br>
                <b>Type of Activity:</b> {{inspection_detail.branch_store.activity}}<br>
                <br>
                <b>Total score:</b> {{inspection_detail.score}}<br>
                <br>
                
              </div>
              <!-- /.col -->

            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>

                               
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->

              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>


              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>


              <div class="col-12 table-responsive">
                <table class="table">
                  <thead class="bg-dark">
                  <tr>
                    <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                    <th style="text-align: center;">Αποτέλεσμα</th>
                    <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Αρχείο προσωπικού</td>
                    <td style="text-align: center;">6</td>
                    <td>Έλειψη πιστοποιητικού υγείας</td>

                  </tr>
                  <tr>
                    <td>Αρχείο Επιχείρησης</td>

                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο νερού</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο καθαρισμού - απολύμανσης</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>

                  </tr>
                  <tr>
                    <td>Αρχείο θερμοκρασιών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  <tr>
                    <td>Αρχείο πρώτων υλών</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">-</td>

                  </tr>
                  </tbody>
                </table>
              </div>


            </div>
            <!-- /.row -->


              <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print mb-3">
            <div class="col-12">
              <button type="button" class="btn btn-success float-right"><i class="fas fa-print"></i>Print</button>
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> PDF
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div>
</section>

{% endblock %}