{% extends 'checklist/base.html' %}


{% block content %}
    
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table">
                    


                    
                    <tbody>
                      
                      {% for tab in activity %}
                      <thead class="bg-dark">
                          <tr>
                            <th>{{tab.title}}</th>
                            <th style="text-align: center;">Αποτέλεσμα</th>
                            <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                          </tr>
                      </thead>
                      {% endfor %}
                        
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
                      <td style="text-align: center;">                      
                        <a class="btn btn-primary btn-lg" href="#">
                            <i class="fas fa-info-circle"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
  
                <div class="col-12 table-responsive">
                  <table class="table">
                    <thead class="bg-dark">
                    <tr>
                      <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                      <th style="text-align: center;">Αποτέλεσμα</th>
                      <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
  
                <div class="col-12 table-responsive">
                  <table class="table">
                    <thead class="bg-dark">
                    <tr>
                      <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                      <th style="text-align: center;">Αποτέλεσμα</th>
                      <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
  
  
                <div class="col-12 table-responsive">
                  <table class="table">
                    <thead class="bg-dark">
                    <tr>
                      <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                      <th style="text-align: center;">Αποτέλεσμα</th>
                      <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
  
                <div class="col-12 table-responsive">
                  <table class="table">
                    <thead class="bg-dark">
                    <tr>
                      <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                      <th style="text-align: center;">Αποτέλεσμα</th>
                      <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
  
  
                <div class="col-12 table-responsive">
                  <table class="table">
                    <thead class="bg-dark">
                    <tr>
                      <th>Αρχεία Τεκμηρίωσης Διαδικασιών</th>
                      <th style="text-align: center;">Αποτέλεσμα</th>
                      <th style="text-align: center; width: 300px;">Παρατηρήσεις</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Αρχείο προσωπικού</td>
                      <td style="text-align: center;">6</td>
                      <td>Έλειψη πιστοποιητικού υγείας</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο Επιχείρησης</td>
  
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο νερού</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο καθαρισμού - απολύμανσης</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο απεντόμωσης - μυοκτονίας</td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: center;">Έλλειψη άδειας της συνεργαζόμενης επιχείρησης</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο θερμοκρασιών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    <tr>
                      <td>Αρχείο πρώτων υλών</td>
                      <td style="text-align: center;">0</td>
                      <td style="text-align: center;">-</td>
  
                    </tr>
                    </tbody>
                  </table>
                </div>
  
  
            </div>
            <!-- /.row -->

{% endblock %}